# ln -s /opt/internet-etecsa-login/service/internet-etecsa-login.service $HOME/.config/systemd/user/internet-etecsa-login.service
# systemctl --user enable internet-etecsa-login.service
# systemctl --user start internet-etecsa-login.service
[Unit]
Description=Internet Etecsa Login
After=syslog.target network.target

[Service]
RestartSec=2s
Type=simple
ExecStart=node /opt/internet-etecsa-login/src/app.js
Restart=always

[Install]
WantedBy=multi-user.target